# Ignore everything by default.
*

# The gitignore of this repository itself
!.gitignore

# Global gitconfig, which should share settings among all machines it seems
!.gitconfig

# Vim settings
!.vimrc

# The startup script for Linux/Unix and Windows
!startup.sh
!startup.ps1
